@font-face {
    font-family: 'NewsGothicFSBookRegular';
    src: url('fonts/NewsGothic-Book-webfont.eot');
    src: url('fonts/NewsGothic-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/NewsGothic-Book-webfont.woff') format('woff'),
         url('fonts/NewsGothic-Book-webfont.ttf') format('truetype'),
         url('fonts/NewsGothic-Book-webfont.svg#NewsGothicFSBookRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NewsGothicFSMediumRegular';
    src: url('fonts/NewsGothic-Medium-webfont.eot');
    src: url('fonts/NewsGothic-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/NewsGothic-Medium-webfont.woff') format('woff'),
         url('fonts/NewsGothic-Medium-webfont.ttf') format('truetype'),
         url('fonts/NewsGothic-Medium-webfont.svg#NewsGothicFSMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
